services:
  backend:
    image: slawekradzyminski/backend:3.2.0
    ports:
      - "4001:4001"
    hostname: backend
    environment:
      SPRING_PROFILES_ACTIVE: local
      # Point the backend at the Ollama mock container instead of localhost
      OLLAMA_BASE_URL: http://ollama-mock:11434
    networks:
      - my-private-ntwk
  ollama-mock:
    image: slawekradzyminski/ollama-mock:1.0.2
    restart: always
    ports:
      - "11434:11434"
    networks:
      - my-private-ntwk
networks:
  my-private-ntwk:
    driver: bridge
