services:
  backend:
    image: slawekradzyminski/backend:3.0.1
    ports:
      - "4001:4001"
    hostname: backend
    environment:
      SPRING_PROFILES_ACTIVE: local
    networks:
      - my-private-ntwk

networks:
  my-private-ntwk:
    driver: bridge
